.wrapper {
  width: 100%;
  display: block;
  background-color: #ffffff;
  border: var(--wc-link-border, 1px solid #e9e9e9);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;
}
.wrapper:hover,
.wrapper:active {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--wc-link-margin, 11px 20px);
}
.info {
  display: flex;
  align-items: center;
}
.info .icon {
  width: 34px;
  height: 34px;
  margin-right: 20px;
  position: relative;
  flex-shrink: 0;
  background: transparent url('./images/link.svg') top left no-repeat;
}
.info .data .label {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #333333;
}
.wrapper:hover .info .data .label,
.wrapper:active .info .data .label {
  color: #48A1E6;
}
.goto {
  width: 16px;
  height: 16px;
  display: block;
  background: transparent url('./images/goto.svg') top left no-repeat;
}
.wrapper:hover .goto {
  background: transparent url('./images/goto-hover.svg') top left no-repeat;
}
.wrapper:active .goto {
  background: transparent url('./images/goto-active.svg') top left no-repeat;
}
